.Terms {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 966px;
    z-index: -1;
    position: relative;
}

.Terms li {
    list-style-type: none;
    margin: 15px 0;
}

.Terms .terms--head1, .Terms li, .Terms h2, .Terms h3, .Terms h4, .Terms p, .Terms strong, .Terms th, .Terms td {
    color: #232D53;
}

.Terms .terms--head1 {
    font: normal normal 700 11px/22px 'Poppins', sans-serif;
    text-align: center;
    margin: 60px 0 30px;
}

.Terms h2, .Terms h3, .Terms h4 {
    margin: 30px 0;
    font: normal normal 700 14px/28px 'Poppins', sans-serif;
}

.Terms h2, .Terms h4 {
    font-size: 15px;
}

.Terms li, .Terms p, .Terms strong {
    font-size: 13px;
    line-height: 21px;
    margin: 10px 0;
}

.Terms table, .Terms th, .Terms td, .Terms table {
    border: 1px solid #232D53;
}

.Terms .first--table th {
    width: 25%;
    text-align: left;
    padding: 10px;
    vertical-align: baseline;
}

.Terms .first--table td {
    vertical-align: baseline;
}

.Terms td, .Terms th {
    padding: 10px;
}

.Terms table {
    border-spacing: 0;
}

.Terms .center-align {
    text-align: center;
}

.Terms table tr:first-child {
    vertical-align: baseline;
}

.Terms .second--table td {
    width: 33%;
    text-align: center;
}

.Terms .third--table td {
    width: 50%;
    text-align: center;
}

.Terms .third-table td {
    width: 50%;
    text-align: center;
}

.Terms .letters--indent,
.Terms .head2--indent,
.Terms .number--indent,
.Terms .letter--indent {
    padding: 0 20px 0 0;
    position: absolute;
    left: -30px;
}

.Terms table ul {
    padding-left: 60px;
}

.Terms .head2--indent {
    left: -30px;
}

.Terms h2 {
    margin: 0 0 0 30px;
}

.Terms ul, .relative {
    padding: 0 0 0 30px;
}

.Terms p .letters--indent {
    left: 0;
}

.Terms h2, .Terms h3, .Terms h4, .Terms li, .relative {
    position: relative;
}

@media (max-width: 900px) {
    .Terms .first--table th {
        width: auto;
        text-align: center;
    }

    .Terms .first--table td:first-child {
        width: auto;
    }

    .Terms .first--table tr {
        display: flex;
        flex-direction: column;
    }
}
