.App-header {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 11.4% 10.2%;
}

.App-header-first.App-header-first-col {
    position: relative;
    display: flex;
    justify-content: center;
}

.App-header-first:before {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    bottom: -39px;
    width: 208px;
    height: 180px;
    background-image: url("./cssimg/Ornament-Dotted-white.png");
    background-size: contain;
    z-index: 1;
}

.first-col-img {
    width: 600px;
    border-radius: 25px;
    margin-left: -142px;
    position: relative;
    left: 6.2%;
}

.App-header-second {
    padding: 1.8% 9.6% 0 8.2%;
}

.App-header-second .App-header-second-h2 {
    font: normal normal 700 24px/24px 'Poppins', sans-serif;
    color: #3680F6;
    margin: 10px 0 0;
}

.App-p {
    font: italic normal 300 38px/57px 'Poppins', sans-serif;
    margin: 35px 0 0;
    letter-spacing: .3px;
}

.App-p:before {
    content: '';
    width: 3px;
    display: inline-block;
    height: 10px;
}

.App-post-link {
    font: normal normal 900 38px/57px 'Poppins', sans-serif;
    margin: 57px 0 0;
    display: block;
    position: relative;
    color: #10214F;
    letter-spacing: -.2px;
}

.App-post-link:before {
    content: '';
    position: absolute;
    display: block;
    width: 48%;
    height: 4px;
    background-color: #FF6B0F;
    bottom: 0;
    left: 34%;
}
