body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
    text-align: center;
}

body > div {
    max-width: 1920px;
    margin: 0 auto;
}

.Screen5--button-group.s7 {
    max-width: 800px;
}

.added-element-before {
    position: relative;
}

.left-dashed, .P2-S5dashed {
    position: relative;
}

.P2-S5dashed::before,
.left-dashed::before {
    border-image-source: url("./Images/dashed.png");
    content: '';
    position: absolute;
    top: -50%;
    left: 1.4%;
    display: block;
    height: 178%;
    width: 3px;
    border-style: solid;
    border-image-slice: 103;
    border-image-repeat: round repeat;
}

.P2-S5dashed::before {
    border-image-source: url("./Images/linehorizont.png");
    height: 3px;
    width: 48%;
    bottom: -172px;
    left: 10%;
    top: auto;
    border-image-slice: 103;
}

.added-element-before::before {
    content: '';
    position: absolute;
    top: 44px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #3680F6;
}

.rounded-frame::before {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 0 18px rgb(54 128 246 / 37%);
    left: -1.8%;
}

.global-network::before {
    background: url('./Images/global-network.svg') #fff center center no-repeat;
}

.bird::before {
    background: url('./Images/bird.svg') #fff center center no-repeat;
}

.videocall::before {
    background: url('./Images/videocall.svg') #fff center center no-repeat;
}

.cursor::before {
    background: url('./Images/cursor.svg') #fff center center no-repeat;
}

.suitcase::before {
    background: url('./Images/suitcase.svg') #fff center center no-repeat;
}

.phonebook::before {
    background: url('./Images/phonebook.svg') #fff center center no-repeat;
}

/*left*/
.chat::before {
    background: url('./Images/chat.svg') #fff center center no-repeat;
}

.dotline::before {
    background: url('./Images/dotline.svg') #fff center center no-repeat;
}

.videocall::before {
    background: url('./Images/videocall.svg') #fff center center no-repeat;
}

.process::before {
    background: url('./Images/process.svg') #fff center center no-repeat;
}

.infrastructure::before {
    background: url('./Images/infrastructure.svg') #fff center center no-repeat;
}

