/*@import "../variables.less";*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dots {
    position: relative;
}

.dots::after, .back-color::before, .back-color::after, .Screen7.P2-S7-remade::after {
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    bottom: -38px;
    background-image: url("./Images/dots.png");
    background-size: contain;
    z-index: -1;
    width: 210px;
    height: 180px;
    background-repeat: no-repeat;
}

.dots.P1-S2::after {
    bottom: -37px;
}

.Screen7.P2-S7-remade::after {
    right: -56px;
    top: 59px;
    left: auto;
    z-index: 0;
    width: 244px;
    height: 210px;
}

.center {
    text-align: center;
}

body > div {
    max-width: 1920px;
    margin: 0 auto;
}

.Screen5--button-group.s7 {
    max-width: 800px;
}

.Header {
    display: flex;
    padding: 33px 3.9% 140px 3.4%;
}

.Header--logo {
    flex-grow: 1;
    margin-top: -1px;
}

.logo-link {
    display: flex;
    width: 234px;
    height: 106px;
    margin: -17px 0 0 0.6%;
}

.Header--logo--img {
    height: 75px;
    width: 77px;
}

.logo-texts {
    margin-left: 1px;
    color: #232D53;
}

.logo-text-sub {
    font: normal normal 300 10.6px/20px 'Poppins', sans-serif;
    color: #232D53;
    padding: 0 7%;
}

.logo-text {
    color: #232D53;
    font: normal normal 900 80px/48px 'Poppins', sans-serif;
    padding: 5px 4%;
    letter-spacing: 2.2px;
}

.main-top-nav {
    flex-grow: 3;
}

.main-top-nav {
    display: flex;
    padding: 67px 0 30px 10%;
    justify-content: flex-end;
}

.main-top-nav-anchor {
    margin: 9px 3.1% 4.8% 5%;
    font: normal normal 500 22px/22px 'Poppins', sans-serif;
    letter-spacing: -0.2px;
    color: #232D53;
    text-decoration: none;
}

.main-top-nav-anchor:hover {
    color: #3680F6;
    transition: color .7s;
    text-decoration: none;
}

.login-block {
    min-width: 19%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.Screen2 {
    justify-content: space-around;
    position: relative;
    margin-bottom: 30px;
    flex-flow: row wrap;
    display: flex;
}

.illustrate {
    width: 680px;
    height: 572px;
}

.window1 {
    padding: 2px 0 0 9.65%;
    flex: 0 0 40%;
}

.window1-h {
    font: normal normal 600 84px/111px 'Poppins', sans-serif;
    letter-spacing: -2.3px;
    margin: 0;
    color: #232D53;
}

.window1-descript {
    font: normal normal 500 26px/52px 'Poppins', sans-serif;
    letter-spacing: -1.45px;
    padding: 0 22% 0 0;
    margin: 15px 0 0 -0.35%;
    color: #696871;
}

.window1--description--button {
    font: normal normal 500 32px/48px 'Poppins', sans-serif;
    color: #232D53;
    letter-spacing: -1.3px;
    margin-bottom: 16px;
}

.buttonIDN.login {
    width: 161px;
    height: 52px;
    font: normal normal 500 16px/25px 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
    background-color: #3680F6;
    border-width: 0;
    border-radius: 37px;
    color: #fff;
    z-index: 1;
}

.buttonIDN.big {
    font: normal normal 500 20px/30px 'Poppins', sans-serif;
    width: 251px;
    height: 60px;
}

.buttonIDN.big.P1-S7 {
    width: 277px;
    z-index: 1;
}

.buttonIDN.white {
    background-color: #fff;
    color: #232D53;
    border: solid 1px #3680F6;
}

button.buttonIDN.S8 {
    display: block;
    margin: 58px auto 0;
    height: 54px;
    width: 271px;
    z-index: 1;
    background-color: transparent;
}

.ant-btn-lg.login.S2.ant-btn-primary.P2-S7 {
    width: 277px;
}

.login.S2.invert.P2-S2 {
    border-width: 0;
    box-shadow: none;
    background: url('./Images/down-arrow.svg') 74% center no-repeat;
    text-indent: -55px;
}

.window2 {
    justify-content: center;
    flex: 0 0 40%;
}

.dots {
    left: -3.3%;
}

.window1--button-group {
    display: flex;
    justify-content: space-between;
}

.window1--button-group {
    margin: 70px auto 0 0;
    width: 77.5%;
}

.invert {
    color: #232D53;
    background-color: #fff;
}

.chevron {
    display: block;
    width: 100%;
    margin: 100px auto 0;
}

.chevron--down {
    height: 9px;
    width: 22px;
    margin: auto;
    display: block;
}

.main {
    margin: 25px 0 0 0;
    background-color: #F7F7FB;
}

.main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 216px 11% 295px 17.8%;
}

.main-header-first.main-header-first-col {
    position: relative;
    display: flex;
    justify-content: center;
}

.main-header-dots.dots::after {
    left: -154px;
    bottom: -43px;
    z-index: 0;
}

.main-header-dots.dots {
    left: 2%;
    position: relative;
    width: 600px;
    height: 572px;
}

.first-col-img {
    width: 600px;
    height: 572px;
    border-radius: 25px;
    margin-left: -142px;
    position: relative;
    left: 6.2%;
}

.main-header-second {
    padding: 1.8% 7.6% 0 9.85%;
}

.main-header-second-h2.head2 {
    font: normal normal 600 24px/24px 'Poppins', sans-serif;
    color: #3680F6;
    margin: 11px 0 0;
    letter-spacing: -0.1px;
}

.main-p {
    font: italic normal 400 38px/57px 'Poppins', sans-serif;
    margin: 35px 0 0;
    color: #10214F;
    text-indent: 1px;
}

.main-post-link {
    font: normal normal 700 38px/57px 'Poppins', sans-serif;
    margin: 59px 0 0;
    display: block;
    position: relative;
    color: #10214F;
    max-width: max-content;
}

.main-post-link:before {
    content: '';
    position: absolute;
    display: block;
    width: 49.1%;
    height: 4px;
    background-color: #FF6B0F;
    bottom: -1px;
    left: 34.9%;
}

.Screen4 {
    padding: 94px 0 0;
    position: relative;
}

.normal.main-p {
    font-style: normal;
    margin: 39px auto 0;
    max-width: 64%;
    line-height: 81px;
    letter-spacing: -1.2px;
}

.main-post-link.frame4 {
    margin: 11px auto 0;
    letter-spacing: -1.6px;
    max-width: 300px;
}

.main-post-link.frame4::before {
    height: 2px;
    bottom: -31px;
    width: 91.8%;
    left: 6.2%;
}

.back-color {
    background-color: #F7F7FB;
    padding-bottom: 88px;
    margin-top: -10px;
}

.main-p.cover {
    font-size: 32px;
    margin-top: 126px;
    padding-top: 130px;
    letter-spacing: -1.1px;
    text-indent: -8px;
}

.sectors {
    display: flex;
    max-width: 1285px;
    margin: auto;
}

.sector {
    font: italic normal 500 28px/42px 'Poppins', sans-serif;
}

.sector.normal {
    margin: auto;
    padding: 125px 0 0;
    letter-spacing: -1.2px;
    position: relative;
}

.sector.normal.one {
    background: url("./Images/delivery-truck.svg") 52.6% 71px no-repeat;
    left: -2px;
}

.sector.normal.two {
    background: url("./Images/flash.svg") 54.6% 64px no-repeat;
    left: -22px;
}

.sector.normal.three {
    background: url("./Images/satellite-dish.svg") 51.7% 62px no-repeat;
}

.sector.normal.four {
    background: url("./Images/building.svg") 50.2% 59px no-repeat;
    left: -5px;
}

.Screen4--all.center {
    margin: 40px 0 0;
}

.selectors--all {
    font: normal normal 900 16px/28px 'Poppins', sans-serif;
    color: #3680F6;
    position: relative;
    text-indent: -28px;
    display: block;
    max-width: 165px;
    margin: auto;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.selectors--all::after {
    content: '';
    background: url("./Images/right-chevron.svg") center center no-repeat;
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    right: 4px;
    top: 5px;
}

.back-color {
    position: relative;
}

.back-color::before {
    top: -90px;
    left: 0.7%;
    z-index: 0;
}

.Screen4.P2-S4::before {
    top: -4.9%;
    left: -0.3%;
}

.back-color::after {
    top: -90px;
    left: auto;
    right: 0;
    z-index: 0;
}

.Screen4.P2-S4::before,
.Screen4.P2-S4::after {
    top: .3%;
    right: -0.5%;
}

.Screen5 {
    display: flex;
    position: relative;
    margin: 182px auto 0;
    justify-content: space-between;
}

.Screen5--w1 {
    padding: 11px 0 0;
    position: relative;
    left: 13.6%;
    max-width: 50%;
    flex: 0 0 50%;
}

.Screen5--h2.head2 {
    text-align: left;
    letter-spacing: 0;
    padding: 0 0 0 3%;
}

.Screen5--description--content {
    padding: 52px 0 0 0;
    max-width: 77%;
}

.Screen5--strong {
    font: normal normal 700 26px/36px 'Poppins', sans-serif;
    color: #1D293F;
    padding: 0 0 0 11.8%;
    display: block;
    position: relative;
}

.Screen5--strong.P1-S6 {
    padding: 0 0 0 12.2%;
}

.Screen5--p.P1-S6 {
    padding-left: 12.2%;
}

.Screen5--p {
    font: normal normal 400 22px/36px 'Poppins', sans-serif;
    color: #7E7F7E;
    padding: 1px 0 36px 11.7%;
    margin: 0;
    position: relative;
}

.Screen5--strong::after, .Screen5--p::after {
    content: '';
    display: block;
    position: absolute;
}

.Screen5--strong::after {
    top: 1px;
    left: 4%;
    background-color: #3680F6;
    height: 32px;
    width: 32px;
    border-radius: 20px;
    z-index: 1;
    border: solid 2px #fff;
}

.Screen5--p::after {
    top: -7px;
    left: 5.6%;
    background-color: #1D293F;
    height: 155%;
    width: 2px;
}

.Screen5--p:last-child::after {
    background-color: #fff;
    width: 6px;
    left: 5.5%;
    height: 100%;
}

.Sreen5--h3 {
    font: normal normal 600 50px/70px 'Poppins', sans-serif;
    color: #10214F;
    padding: 18px 0 0 3%;
    letter-spacing: -1.3px;
    margin: 0;
}

.Screen5--button-group {
    max-width: 55.3%;
    margin: 19px 0 0 4.8%;
    justify-content: space-between;
}

.login.Screen5--button--text {
    font: normal normal 500 16px/25px 'Poppins', sans-serif;
}

.illustrate.Screen5-img {
    height: 654px;
    width: 600px;
}

.dots.Screen5--dots::after {
    left: auto;
    right: -8%;
    bottom: -45px;
}

.dots.Screen5--dots {
    left: -13.1%;
    top: 9px;
    width: 600px;
    height: 650px;
}

.Screen6 {
    display: flex;
    position: relative;
    margin: 436px auto 217px;
}


.dots.Screen6--dots {
    left: 3.1%;
}

.Screen6--w2.window1 {
    padding: 22px 0 0 1.35%;
    max-width: 46%;
    flex: 0 0 48%;
}

.dots.Screen5--dots.Screen6--dots::after {
    right: auto;
    left: -50px;
    bottom: auto;
    top: -120px;
}

.Screen5--description--content.S6c {
    max-width: 86%;
    padding: 52px 0 0;
}

.Screen5--button-group.S6bg {
    max-width: 63.2%;
    margin-top: 19px;
}

.Screen7 {
    padding: 161px 0 0;
    background: url("./Images/why-idn.png") center no-repeat;
    background-size: cover;
}

.Screen7.P2-S7-remade {
    position: relative;
    background-color: #10214F;
    background-image: none;
    padding: 92px 0 24px 9.2%;
    overflow: hidden;
}

.Screen7.P2-S7-remade::before {
    content: '';
    display: block;
    position: absolute;
    height: 1008px;
    width: 1008px;
    border-radius: 504px;
    background-size: contain;
    bottom: -60.7%;
    left: 37.6%;
    background-color: #06113e;
}

.Screen7--h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    letter-spacing: -1.4px;
    font: normal normal 600 60px/60px 'Poppins', sans-serif;
}

.Screen7--h2.P2-S7-remade {
    color: #fff;
    text-align: left;
    font: normal normal 600 40px/60px 'Poppins', sans-serif;
}

.Screen7--p {
    letter-spacing: -1.15px;
    color: #fff;
    text-align: center;
    font: normal normal 400 28px/63px 'Poppins', sans-serif;
    max-width: 1245px;
    margin: 84px auto 89px;
    position: relative;
    left: -0.15%;
}

.Screen7--p.P2-S7-remade {
    font: normal normal 600 24px/56px 'Poppins', sans-serif;
    text-align: left;
    max-width: initial;
    margin: 16px auto 89px;
    letter-spacing: 0;
}

.back-color.S7 {
    background-color: transparent;
    padding-bottom: 141px;
}

.back-color.S7.P1-S7::before, .back-color.S7.P1-S7::after {
    content: none;
}

.back-color.S7.P2-S7-remade {
    padding-bottom: 0;
    margin-top: 0;
}

.main-p.S7 {
    color: #fff;
}

.sectors.S7 {
    max-width: 1335px;
    position: relative;
    right: 1.7%;
    justify-content: center;
}

.sectors.S7.P2-S7-remade {
    max-width: 1363px;
    right: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;

}

.sector.S7 {
    margin: auto;
    padding: 108px 0 0;
    letter-spacing: .2px;
}

.sector.normal.center.S7 {
    font: normal normal 700 22px/27px 'Open Sans', sans-serif;
}

.info-graph {
    margin: 0;
    padding: 70px 0 50px;
    background-position: 0 8px;
    text-align: left;
}

.dot-list {
    margin: 20px 0 0 4.6%;
    padding: 0;
    max-width: 422px;
}

.dots-item {
    font: normal normal 600 20px/32px 'Poppins', sans-serif;
    color: #fff;
    list-style-type: none;
    position: relative;
}

.dots-item::before {
    content: '';
    position: absolute;
    display: block;
    left: -20px;
    top: 14px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #3874FF;
}

.sector.normal.one.S7 {
    background: url("./Images/connection.svg") 52.2% 26px no-repeat;
}

.sector.normal.main-p.S7.P2-S7-remade {
    background-position: 0 42%;
}

/*.sector.normal.main-p.S7.P3-S7-remade {*/
/*    background-position: 0 42%;*/
/*    background-image: url('./Images/exchange.svg');*/
/*}*/

.sector.normal.two.S7 {
    background: url("./Images/opportunity.svg") 51.1% 33px no-repeat;
    position: relative;
    left: -0.65%;
}

.sector.normal.three.S7 {
    background: url("./Images/win.svg") 43.8% 30px no-repeat;
    position: relative;
    left: -2.2%;
}

.sector.normal.four.S7 {
    background: url("./Images/trust.svg") 36% 29px no-repeat;
}

/*.sector.normal.COMMUNICATION.S7 {*/
/*    background: url("./Images/COMMUNICATION.svg") 36% 29px no-repeat;*/
/*}*/

.sector.normal.five.S7 {
    background: url("./Images/security.svg") 54.4% 25px no-repeat;
}

/*.sector.normal.five.supp.S7 {*/
/*    background: url("./Images/support.svg") 12.4% 37px no-repeat;*/
/*}*/

.sector.normal.five.P3-S7-remade.S7 {
    background: url("./Images/win.svg") 12.4% 37px no-repeat;
}

.Screen5--button-group.S7 {
    max-width: 870px;
    margin: auto;
    padding-bottom: 73px;
}

.window1--description--button.S7 {
    font: normal normal 500 36px/55px 'Poppins', sans-serif;
    color: #fff;
    padding: 9px 0 1px;
    text-align: center;
    letter-spacing: -1.5px;
    margin-top: -2px;
    margin-bottom: 16px;
}

.window1--description--button.S7.Advisor {
    padding-right: 2%;
}

.window1--description--button.S7.Advisor.P2-S7 {
    font: normal normal 500 33px/50px 'Poppins', sans-serif;
    text-indent: -9px;
}

.window1--description.S7.S71 {
    margin-left: 9px;
}

.S7.S71.dot-list.Advisor {
    margin: 36px 0;
    min-width: 422px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 35%;
}

.ant-btn-lg.login.S7 {
    width: 277px;
    font: normal normal 500 20px/53px 'Poppins', sans-serif;
    letter-spacing: 0.2px;
    text-indent: 2px;
}

.window1--description--button.S7.S72 {
    position: relative;
    left: 3.2%;
    top: -1px;
}

.window1--description.S7 {
    margin: 0 0 0 5px;
}

.Screen8 {
    background-color: #29579F;
    padding: 0 0 120px 0;
}

.Screen7--h2.S8 {
    font: normal normal 700 40px/60px 'Poppins', sans-serif;
    padding: 118px 0 0 0;
    letter-spacing: -1.1px;
}

.ant-btn-lg.login.S8 {
    display: block;
    margin: 58px auto 0;
    max-width: 268px;
}

.Screen9 {
    padding: 65px 0 130px;
    display: flex;
    justify-content: space-between;
}

.idn-img {
    width: 50px;
    height: 60px;
    display: block;
    background: url("./Images/idn.png") center no-repeat;
    background-size: contain;
    flex-grow: 1;
    margin-top: -15px;
    position: relative;
    left: -2.6%;
}

.foot-ul {
    padding: 0;
    margin: 0;
}

.foot-lists {
    display: flex;
    flex-grow: 5;
    justify-content: space-around;
    position: relative;
    right: 1.15%;
    max-width: 1631px;
}

.foot-li.foot-li-head {
    color: #1D293F;
    font: normal normal 700 20px/30px 'Poppins', sans-serif;
    padding: 0 0 27px 0;
    letter-spacing: -1.1px;
}

.foot-li {
    letter-spacing: -1.1px;
    list-style-type: none;
    font: normal normal 500 18px/27px 'Poppins', sans-serif;
    color: #1D293F;
}

.in {
    margin: 31px 0 0 1%;
    width: 49px;
    height: 49px;
    display: block;
    background: url("./Images/in.svg") center no-repeat;
    background-size: contain;
}

.opacity6 {
    opacity: 0.6;
}

.back-slider.buttonIDN::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #3680F6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}

.back-slider-two.back-slider.buttonIDN::before {
    left: 0;
}

/*.back-slider-two.back-slider.buttonIDN.P1-S7:hover::before {*/
/*    left: -110%;*/
/*    transition: all .7s;*/
/*}*/

.back-slider.buttonIDN.white::before {
    background-color: transparent;
}

.back-slider.buttonIDN.white::before {
    z-index: -1;
}

.back-slider.buttonIDN.white.decide::before {
    background-color: #fff;
}

.back-slider.buttonIDN::after {
    content: '';
    width: 220%;
    height: 307%;
    border-radius: 50%;
    background-color: #10214F;
    position: absolute;
    left: -204%;
    top: 10%;
    z-index: -1;
    transition: all .5s;
}

.back-slider.buttonIDN:hover::after {
    left: -15%;
    top: -60%;
}

.back-slider.buttonIDN.indent-bigger {
    text-indent: 0;
    transition: all .5s;
}

.back-slider.buttonIDN.indent-bigger:hover {
    text-indent: 5px;
    transition: all .5s;
}

.back-slider.buttonIDN.white {
    color: #232D53;
    transition: all .5s;
}

.back-slider.buttonIDN.white:hover {
    color: #fff;
}

.buttonIDN.font-size-scale {
    font-size: 20px;
    transition: all .5s;
}

.buttonIDN.font-size-scale:hover {
    font-size: 15px;
}

.back-slider.back-slider-two.buttonIDN {
    background-color: transparent;
}

.back-slider-two.buttonIDN.white.border::before {
    border: solid 1px #3680F6;
    height: 55px;
    width: 246px;
    margin: auto;
}

.back-slider-two.buttonIDN.white.border {
    border: solid 1px transparent;
}

.back-slider-two.buttonIDN::before {
    left: 0;
    transition: all .5s;
}

.back-slider-two.buttonIDN:hover::before {
    background-color: transparent;
    left: -100%;
}

.back-slider.buttonIDN.why-idn::after {
    color: #06113e;
}

.sizes-scale {
    transition: all .5s;
}

.sizes-scale:hover {
    font-size: 95%;
    height: 55px;
}

button.buttonIDN.decide {
    border-color: transparent;
}

@media (max-width: 1200px) {
    #root {
        max-width: 1024px;
        margin: auto;
    }

    .Header {
        padding: 6px 3.9% 76px 30px;
    }

    .logo-link {
        margin: 40px 0 0 0;
    }

    .idnlogo {
        height: 51px;
        width: 155px;
    }

    .main-top-nav {
        padding: 45px 0 30px 1%;
        flex-grow: 8;
    }

    .main-top-nav-anchor {
        margin: 9px 1.75% 4.8% 6%;
        font: normal normal 500 19px/22px 'Poppins', sans-serif;
        letter-spacing: -0.6px;
    }

    .login-block {
        justify-content: flex-end;
        margin-top: -20px;
    }

    .buttonIDN.login {
        width: 161px;
        height: 52px;
    }

    .Screen2.P1-S2 {
        width: 950px;
        margin: auto;
    }

    .window1-h {
        font: normal normal 600 49px/70px 'Poppins', sans-serif;
        letter-spacing: -1.9px;
    }

    .window1.Screen2.X12000 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .window1, .window2 {
        padding: 0 1%;
        flex: 0 0 40%;
        max-width: 40%;
    }

    .window1--button-group.P1-S2 {
        width: 88%;
        flex-direction: row;
        margin: 0 auto 0 0;
    }

    .window1-descript {
        font: normal normal 500 21px/41px 'Poppins', sans-serif;
        padding: 0 1% 0 0;
        margin-left: -0.1%;
        letter-spacing: -0.8px;
    }

    .dots.Screen5--dots, .dots {
        left: auto;
        margin: 0 0 0 auto;
    }

    .dots.Screen5--dots {
        margin: 0 0 0 auto;
        width: 100%;
        height: auto;
    }

    .main-header-second {
        padding: 0 0 0 5%;
        width: 77%;
    }

    .illustrate, .illustrate.Screen2, .illustrate.Screen5-img, .first-col-img, .main-header-dots.dots {
        width: 361px;
        height: 304px;
        margin: 0 0 0 auto;
    }

    .dots::after, .back-color::before, .back-color::after, .Screen7.P2-S7-remade::after, .dots.P1-S2::after {
        width: 180px;
        height: 180px;
        left: -30px;
        bottom: -60px;
    }

    .first-col-img {
        margin-left: 0;
        position: static;
    }

    .window1--button-group {
        width: 100%;
        flex-direction: column;
    }

    .main-header {
        padding: 64px 1% 48px 1%;
    }

    .main-header-first, .main-header-second {
        width: 50%;
        padding: 0 50px 0 63px;
    }

    .main-header-second {
        padding: 0 53px 0 54px;
    }

    .main-header-second-h2.head2 {
        margin: 6px 0 0;
        letter-spacing: -0.1px;
    }
    .main-post-link.frame4::before{
        bottom: 6px;
        width: 46%;
        left: 27%;
    }
    .main-p {
        font: italic normal 400 30px/47px 'Poppins', sans-serif;
        margin: 32px 0 0;
        text-indent: 1px;
    }

    .main-post-link {
        font: normal normal 700 30px/57px 'Poppins', sans-serif;
        margin: 41px 0 0;
    }

    .first-col-img {
        margin-left: -13px;
        width: auto;
        height: 400px;
    }

    .normal.main-p {
        margin: 46px auto 0;
        font: normal normal 400 30px/60px 'Poppins', sans-serif;
        max-width: initial;
        letter-spacing: -0.9px;
    }

    .main-post-link.frame4 {
        margin: 2px auto 0;
    }

    .Screen5--w1, .Screen5--w2 {
        padding: 0 1%;
        left: auto;
        flex: 0 0 46%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .Screen6--w2.window1 {
        padding: 24px 2% 0 0;
        max-width: 100%;
    }

    .window1--description {
        margin: 0;
    }

    .window1--description--button {
        letter-spacing: -1.5px;
        font: normal normal 500 25px/48px 'Poppins', sans-serif;
        margin: 29px auto 12px;
    }

    .buttonIDN.login {
        width: 188px;
    }

    .chevron {
        margin: 65px auto 0;
    }

    .Screen5--description--content, .Screen5--description--content.S6c {
        max-width: 100%;
    }

    .Screen5--button-group.S7 {
        display: flex;
        flex-direction: row;
        max-width: 60%;
    }

    .Screen5--button-group.S6bg {
        max-width: none;
    }

    .Screen9.P1-S9 {
        max-width: 90%;
        margin: auto;
    }
}

@media (max-width: 1850px) {

    .window1.Screen2 {
        padding: 0 1%;
    }

    .indow1--button-group {
        width: 100%;
        flex-direction: column;
    }

    .Screen5--w1 {
        left: 0;
    }

    .Screen5--button-group, .Screen5--button-group.S6bg {
        max-width: none;
    }

    .main-header-dots.dots {
        width: 100%;
        left: 0;
    }

    .Screen5 {
        justify-content: center;
    }
}

@media (max-width: 1440px) {
    .window1--button-group {
        width: 94%;
    }
}

@media (max-width: 900px) {
    .Screen2, .main-header, .Screen5, .Screen6 {
        flex-direction: column;
    }

    .main-header-second {
        margin-top: 100px;
    }

    .window1.Screen2 {
        max-width: 98%;
    }

    .window1, .window2, .chevron {
        align-self: center;
    }

    .window1 {
        order: 2;
    }

    .window2 {
        order: 1;
        margin-bottom: 120px;
        max-width: 100%;
    }

    .chevron {
        order: 3;
    }

    .Screen5--w1, .Screen5--w2 {
        overflow: initial;
    }

    .Screen7--p,
    .Screen5--button-group.S7 {
        max-width: 90%;
    }
}

/* page2 */
/*.window1.P2 {*/
/*    padding: 0 0 0 12.75%;*/
/*    margin-top: -7px;*/
/*}*/

/*.window1-descript.P2 {*/
/*    font: normal normal 300 48px/80px 'Poppins', sans-serif;*/
/*    color: #10214F;*/
/*    letter-spacing: -1px;*/
/*    margin-top: 17px;*/
/*    padding-right: 15.3%;*/
/*}*/

/*.main-header-second-h2.P2 {*/
/*    text-transform: uppercase;*/
/*}*/

/*.main-post-link.P2 {*/
/*    font: normal normal 300 48px/80px 'Poppins', sans-serif;*/
/*    display: inline-block;*/
/*    margin: auto;*/
/*}*/

/*.main-post-link.P2.S2-P2 {*/
/*    font: normal normal 400 44px/80px 'Poppins', sans-serif;*/
/*}*/

/*.main-post-link.P2:before {*/
/*    width: 105%;*/
/*    left: auto;*/
/*}*/

/*.main-post-link.P2.S2-P2:before {*/
/*}*/

/*.yellow-upper {*/
/*    color: #3680F6;*/
/*    letter-spacing: 0.5px;*/
/*}*/

/*.window1--button-group.P2.P2-S2 {*/
/*    margin: 50px auto 0 7%;*/
/*    justify-content: space-between;*/
/*    width: 70%;*/
/*}*/

/*.Screen4.P2 {*/
/*    margin: 273px 0 0;*/
/*    padding: 39px 0 0;*/
/*    overflow: hidden;*/
/*}*/

/*.Screen4.P2.P2-S4 {*/
/*    background-color: #F7F7FB;*/
/*}*/

/*.main-post-link.frame4.P2 {*/
/*    font: normal normal 600 48px/80px 'Poppins', sans-serif;*/
/*    max-width: initial;*/
/*    display: block;*/
/*}*/

/*.main-post-link.frame4.P2::before {*/
/*    content: none;*/
/*}*/

/*.main-header-second-h2.head2.P2-h2 {*/
/*    text-indent: 1.1%;*/
/*}*/

/*.main-post-link.center.frame4.P2 {*/
/*    text-indent: 1.7%;*/
/*    margin-top: 44px;*/
/*    letter-spacing: -1.2px;*/
/*}*/

/*.main-p.cover.P2.P2-S4 {*/
/*    margin: 52px auto 172px;*/
/*    padding-top: 0;*/
/*    max-width: 1021px;*/
/*    letter-spacing: 0;*/
/*    font: normal normal 400 36px/62px 'Poppins', sans-serif;*/
/*}*/

/*.two-columns {*/
/*    column-count: 2;*/
/*    max-width: 1317px;*/
/*    margin: auto;*/
/*    grid-column-gap: 198px;*/
/*    column-gap: 198px;*/
/*}*/

/*.two-column--p {*/
/*    font: normal normal 400 26px/56px 'Poppins', sans-serif;*/
/*}*/

/*.main-post-link.P2.third-screen {*/
/*    font: normal normal 400 26px/56px 'Poppins', sans-serif;*/
/*}*/

/*.main-post-link.P2.third-screen:before {*/
/*    bottom: 3px;*/
/*    width: 105%;*/
/*}*/

/*.main-post-link.P2.third-screen.third-line {*/
/*    font: normal normal 400 36px/62px 'Poppins', sans-serif;*/
/*}*/

/*.main-post-link.P2.third-screen.third-line:before {*/
/*    bottom: -60px;*/
/*    width: 62%;*/
/*    margin: auto;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

/*.Screen5.P2, .Screen6.P2, .Screen7-P2.P2 {*/
/*    max-width: 1625px;*/
/*    margin: 270px auto 340px;*/
/*}*/

/*.Screen5.P2.P2-S72 {*/
/*    margin: 408px auto 214px;*/
/*}*/

/*.Screen6.P2 {*/
/*    margin: 0 auto 340px;*/
/*}*/

/*.Screen6.P2.P2-S7 {*/
/*    margin: 382px auto 0;*/
/*}*/

/*.Screen5.P2.P2-S7 {*/
/*    margin: 433px auto 340px;*/
/*}*/

/*.window1.P2.P2-S7 {*/
/*    padding: 4px 0 0 11.65%;*/
/*}*/

/*.window1.P2.P2-S7.P2-S62 {*/
/*    padding: 4px 0 0 9.45%;*/
/*    margin-top: 66px;*/
/*}*/

/*.dots.P2-S72 {*/
/*    left: -3.9%;*/
/*}*/

/*.Screen7-P2.P2 {*/
/*    display: flex;*/
/*}*/

/*.window2.P2, .window1.P2 {*/
/*    justify-content: center;*/
/*    flex: 0 0 50%;*/
/*    max-width: 50%;*/
/*}*/

/*.window1.P2 {*/
/*    padding: 4px 0 0 9.65%;*/
/*    flex: 0 0 50%;*/
/*    max-width: 50%;*/
/*}*/

/*.P2-S6.left-dashed::before {*/
/*    left: 21%;*/
/*}*/

/*.window1.P2.P2-S7.P2-S62::before {*/
/*    top: -38%;*/
/*    height: 168%;*/
/*    left: 20.6%;*/
/*}*/

/*.window1.P2.P2-S6::before {*/
/*    top: -23%;*/
/*    height: 153%;*/
/*}*/

/*.window1.P2.P2-S5 {*/
/*    padding: 4px 0 0 12.25%;*/
/*}*/

/*.dots.P2::after, .P2-S53::before {*/
/*    bottom: -42px;*/
/*    width: 210px;*/
/*    left: -44px;*/
/*    height: 210px;*/
/*    background-image: url("./Images/OrnamentDarkblue.png");*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.P2-S53::before {*/
/*    bottom: -201px;*/
/*    top: auto;*/
/*    left: -10.3%;*/
/*    border-style: none;*/
/*    opacity: 0.3;*/
/*}*/

/*.window1.P2.S2-P2 {*/
/*    padding: 0 0 0 9.65%;*/
/*}*/

/*.window2.P2 {*/
/*    justify-content: center;*/
/*    flex: 0 0 43%;*/
/*    margin: 43px 0 0;*/
/*}*/

/*.window2.P2.P2-S72 {*/
/*    flex: 0 0 43%;*/
/*    padding: 16px 0 0;*/
/*}*/

/*.main-header-second-h2.head2.P2,*/
/*.window1-h.P2,*/
/*.window1-descript.P2 {*/
/*    padding: 0 0 0 12.8%;*/
/*}*/

/*.main-header-second-h2.head2.P2.S2-P2 {*/
/*    padding: 0 0 0 7.8%;*/
/*}*/

/*.window1-h.P2 {*/
/*    margin: 34px 0 0;*/
/*    font: normal normal 600 73px/111px 'Poppins', sans-serif;*/
/*}*/

/*.window1-h.P2.P2-S72 {*/
/*    padding: 0 0 0 9.6%;*/
/*}*/

/*.window1-h.P2.P2-S5::before {*/
/*    top: 47px;*/
/*    left: 0;*/
/*}*/

/*.window1-h.P2.P2-S7 {*/
/*    margin-bottom: 0;*/
/*    padding: 0 0 0 10.5%;*/
/*}*/

/*.window1-descript.P2.P2-S7 {*/
/*    margin: 0;*/
/*    padding: 35px 22% 37px 10.3%;*/
/*}*/

/*.window1-descript.P2 {*/
/*    font: normal normal 400 24px/36px 'Poppins', sans-serif;*/
/*    padding: 35px 19% 18px 12.8%;*/
/*    color: #696871;*/
/*    margin: 20px 0 0;*/
/*}*/

/*.window1-descript.P2.P2-S72 {*/
/*    line-height: 36px;*/
/*    padding: 24px 24.6% 28px 9.8%;*/
/*}*/

/*.window2.P2.P2-S7 {*/
/*    padding: 42px 0 12px 0;*/
/*    flex: 0 0 43.3%;*/
/*}*/

/*.window1-descript.P2.S2-P2 {*/
/*    padding: 0 13% 12px 7.8%;*/
/*    font: normal normal 400 44px/80px 'Poppins', sans-serif;*/
/*    color: #10214F;*/
/*    letter-spacing: 1px;*/
/*}*/

/*.dots.dots-P2.P2 {*/
/*    left: 3.3%;*/
/*}*/

/*.dots-P2::after {*/
/*    width: 210px;*/
/*    height: 210px;*/
/*    bottom: -47px;*/
/*    background-image: url("./Images/squaredots.png");*/
/*}*/

/*.illustrate.P2 {*/
/*    width: 520px;*/
/*    height: 654px;*/
/*}*/

/*.window1-h.P2.S6-P2 {*/
/*    padding: 0 0 0 12.5%;*/
/*    margin-top: 117px;*/
/*}*/

/*.window1-h.P2.S6-P2.P2-S7 {*/
/*    margin-top: 186px;*/
/*}*/

/*.window1-descript.P2.S6-P2.S6-P22 {*/
/*    padding: 32px 20% 12px 12.5%;*/
/*    font: normal normal 400 22px/35px 'Poppins', sans-serif;*/
/*    letter-spacing: 0;*/
/*    margin: 0 0 32px;*/
/*}*/

/*.window1-descript.P2.S6-P2 {*/
/*    padding: 43px 6% 0 12.8%;*/
/*    margin: 32px 0 0;*/
/*}*/

/*.dots.P2.S6-P2 {*/
/*    left: 1.2%;*/
/*}*/

/*!*5*!*/
/*.Screen5.P2.P3-S51 {*/
/*    margin: 324px auto 340px;*/
/*}*/
