body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    text-align: center;
}

.buttonIDN:hover {
    cursor: pointer;
}

.Screen5--button-group.s7 {
    max-width: 800px;
}

.added-element-before {
    position: relative;
}

.dots {
    position: relative;
    z-index: 0;
}

.dots::after, .back-color::before, .back-color::after, .Screen7.P2-S7-remade::after {
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    bottom: -38px;
    background-image: url("./Images/dots.svg");
    background-size: contain;
    z-index: -1;
    width: 210px;
    height: 180px;
    background-repeat: no-repeat;
}

.dots.P1-S2::after {
    bottom: -37px;
}

.Screen7.P2-S7-remade::after {
    right: -56px;
    top: 59px;
    left: auto;
    z-index: 0;
    width: 244px;
    height: 210px;
}

.center {
    text-align: center;
}

.Header,
.Screen2.P1-S2,
.Screen5.S5,
.Screen6.S6,
.Screen9.P1-S9 {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

.Screen4,
.Screen3.main,
.Screen7.S7,
.Screen8 {
    width: 100%;
}

.Screen5--button-group.s7 {
    max-width: 800px;
}

.Header {
    display: flex;
    padding: 33px 3.9% 140px 3.4%;
}

.Header--logo {
    flex-grow: 1;
    margin-top: -1px;
}

.logo-link {
    display: flex;
    width: 234px;
    height: 106px;
    margin: -17px 0 0 0.6%;
}

.Header--logo--img {
    height: 75px;
    width: 77px;
}

.logo-texts {
    margin-left: 1px;
    color: #232D53;
}

.logo-text-sub {
    font: normal normal 300 10.6px/20px 'Poppins', sans-serif;
    color: #232D53;
    padding: 0 7%;
}

.logo-text {
    color: #232D53;
    font: normal normal 900 80px/48px 'Poppins', sans-serif;
    padding: 5px 4%;
    letter-spacing: 2.2px;
}

.main-top-nav {
    flex-grow: 3;
}

.main-top-nav {
    display: flex;
    padding: 67px 0 30px 10%;
    justify-content: flex-end;
}

.main-top-nav-anchor {
    margin: 9px 3.1% 4.8% 5%;
    font: normal normal 500 22px/22px 'Poppins', sans-serif;
    letter-spacing: -0.2px;
    color: #232D53;
    text-decoration: none;
}

.main-top-nav-anchor:hover {
    color: #3680F6;
    transition: color .7s;
    text-decoration: none;
}

.login-block {
    min-width: 19%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.Screen2 {
    justify-content: space-around;
    position: relative;
    margin-bottom: 30px;
    flex-flow: row wrap;
    display: flex;
}

.Screen2.P1-S2 {
    margin: 2vh auto;
    min-height: 69vh;
}

.illustrate {
    width: 680px;
    height: 572px;
    border-radius: 30px;
}

.window1 {
    padding: 2px 0 0 9.65%;
    flex: 0 0 41%;
    box-sizing: initial;
}

.window1-h {
    font: normal normal 600 84px/111px 'Poppins', sans-serif;
    letter-spacing: -2.3px;
    margin: -26px 0 0;
    color: #232D53;
}

.window1-descript {
    font: normal normal 500 26px/52px 'Poppins', sans-serif;
    letter-spacing: -1.45px;
    padding: 0 5% 0 0;
    margin: 15px 0 0 -0.35%;
    color: #696871;
}

.window1--description--button {
    font: normal normal 500 32px/48px 'Poppins', sans-serif;
    color: #232D53;
    letter-spacing: -1.3px;
    margin-bottom: 16px;
}

.buttonIDN.login {
    width: 161px;
    height: 52px;
    font: normal normal 500 16px/25px 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
    background-color: #3680F6;
    border-width: 0;
    border-radius: 37px;
    color: #fff;
    z-index: 1;
    text-align: center;
    display: block;
    line-height: 52px;
}

.buttonIDN:focus {
    outline-width: 0;
}

.buttonIDN.big {
    font: normal normal 500 20px/58px 'Poppins', sans-serif;
    width: 251px;
    height: 60px;
}

.buttonIDN.big.P1-S7 {
    width: 277px;
    z-index: 1;
}

.buttonIDN.white {
    background-color: #fff;
    color: #232D53;
    border: solid 1px #3680F6;
}

.login.buttonIDN.S8 {
    display: block;
    margin: 58px auto 0;
    height: 54px;
    width: 271px;
    z-index: 1;
    background-color: transparent;
}

.ant-btn-lg.login.S2.ant-btn-primary.P2-S7 {
    width: 277px;
}

.login.S2.invert.P2-S2 {
    border-width: 0;
    box-shadow: none;
    background: url('./Images/down-arrow.svg') 74% center no-repeat;
    text-indent: -55px;
}

.window2 {
    justify-content: center;
    flex: 0 0 40%;
}

.dots {
    left: -3.3%;
}

.window1--button-group {
    display: flex;
    justify-content: space-between;
}

.window1--button-group {
    margin: 100px auto 0 0;
    width: 77.5%;
}

.invert {
    color: #232D53;
    background-color: #fff;
}

.chevron {
    display: block;
    width: 100%;
    margin: 71px auto 0;
}

.chevron--down {
    height: 9px;
    width: 22px;
    margin: auto;
    display: block;
}

.main {
    margin: 0;
    background-color: #F7F7FB;
}

.main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 216px 11% 295px 17.8%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: initial;
}

.main-header-first.main-header-first-col {
    position: relative;
    display: flex;
    justify-content: center;
}

.main-header-dots.dots::after {
    left: -154px;
    bottom: -43px;
    z-index: 0;
}

.main-header-dots.dots {
    left: 2%;
    position: relative;
    width: 600px;
    height: 572px;
}

.first-col-img {
    width: 600px;
    height: 572px;
    border-radius: 25px;
    margin-left: -142px;
    position: relative;
    left: 6.2%;
}

.main-header-second {
    padding: 0 7.6% 0 9.85%;
}

.main-header-second-h2.head2 {
    font: normal normal 600 24px/24px 'Poppins', sans-serif;
    color: #3680F6;
    margin: 0;
    letter-spacing: -0.1px;
}

.main-p {
    font: italic normal 400 38px/57px 'Poppins', sans-serif;
    margin: 35px 0 0;
    color: #10214F;
    text-indent: 1px;
}

.main-post-link {
    font: normal normal 700 38px/57px 'Poppins', sans-serif;
    margin: 59px 0 0;
    display: block;
    position: relative;
    color: #10214F;
    max-width: max-content;
}

.main-post-link:before {
    content: '';
    position: absolute;
    display: block;
    width: 49.1%;
    height: 4px;
    background-color: #FF6B0F;
    bottom: -1px;
    left: 34.9%;
}

.Screen4 {
    padding: 94px 0 0;
    position: relative;
}

.normal.main-p {
    font-style: normal;
    margin: 39px auto 0;
    max-width: 72%;
    line-height: 81px;
    letter-spacing: -1.2px;
}

.normal.main-p.center.S4 {
    max-width: 1220px;
}

.main-post-link.frame4 {
    margin: 11px auto 0;
    letter-spacing: -1.6px;
    max-width: 300px;
}

.main-post-link.frame4::before {
    height: 2px;
    bottom: -31px;
    width: 91.8%;
    left: 6.2%;
}

.back-color {
    background-color: #F7F7FB;
    padding-bottom: 88px;
    margin-top: -10px;
}

.main-p.cover {
    font-size: 32px;
    margin-top: 126px;
    padding-top: 130px;
    letter-spacing: -1.1px;
    text-indent: -8px;
}

.sectors {
    display: flex;
    max-width: 1285px;
    margin: auto;
}

.sector {
    font: italic normal 500 28px/42px 'Poppins', sans-serif;
}

.sector.normal {
    margin: auto;
    padding: 125px 0 0;
    letter-spacing: -1.2px;
    position: relative;
}

.sector.normal.one {
    background: url("./Images/delivery-truck.svg") 52.6% 71px no-repeat;
    left: -2px;
}

.sector.normal.two {
    background: url("./Images/flash.svg") 54.6% 64px no-repeat;
    left: -22px;
}

.sector.normal.three {
    background: url("./Images/satellite-dish.svg") 51.7% 62px no-repeat;
}

.sector.normal.four {
    background: url("./Images/building.svg") 50.2% 59px no-repeat;
    left: -5px;
}

.Screen4--all.center {
    margin: 40px 0 0;
}

.selectors--all {
    font: normal normal 900 16px/28px 'Poppins', sans-serif;
    color: #3680F6;
    position: relative;
    text-indent: -28px;
    display: block;
    max-width: 165px;
    margin: auto;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.selectors--all::after {
    content: '';
    background: url("./Images/right-chevron.svg") center center no-repeat;
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    right: 4px;
    top: 5px;
}

.back-color {
    position: relative;
}

.back-color::before {
    top: -90px;
    left: 2.3%;
    z-index: 0;
}

.Screen4.P2-S4::before {
    top: -4.9%;
    left: -0.3%;
}

.back-color::after {
    top: -90px;
    left: auto;
    right: 0;
    z-index: 0;
}

.Screen4.P2-S4::before,
.Screen4.P2-S4::after {
    top: .3%;
    right: -0.5%;
}

.Screen5 {
    display: flex;
    position: relative;
    margin: 182px auto 0;
    justify-content: space-between;
}

.Screen5--w1 {
    padding: 11px 0 0;
    position: relative;
    left: 13.6%;
    max-width: 50%;
    flex: 0 0 50%;
}

.Screen5--h2.head2 {
    text-align: left;
    letter-spacing: 0;
    padding: 0 0 0 3%;
    margin: -3px 0 14px;
}

.Screen5--description--content {
    padding: 52px 0 0 0;
    max-width: 77%;
}

.Screen5--strong {
    font: normal normal 700 26px/36px 'Poppins', sans-serif;
    color: #1D293F;
    padding: 0 0 0 11.8%;
    display: block;
    position: relative;
}

.Screen5--strong.P1-S6 {
    padding: 0 0 0 12.2%;
}

.Screen5--p.P1-S6 {
    padding-left: 12.2%;
}

.Screen5--p {
    font: normal normal 400 22px/36px 'Poppins', sans-serif;
    color: #7E7F7E;
    padding: 1px 0 36px 11.7%;
    margin: 0;
    position: relative;
}

.Screen5--strong::after, .Screen5--p::after {
    content: '';
    display: block;
    position: absolute;
}

.Screen5--strong::after {
    top: 1px;
    left: 4%;
    background-color: #3680F6;
    height: 32px;
    width: 32px;
    border-radius: 20px;
    z-index: 1;
    border: solid 2px #fff;
}

.Screen5--p::after {
    top: -7px;
    left: 6.5%;
    background-color: #1D293F;
    height: 155%;
    width: 2px;
}

.Screen5--p.S5::after {
    left: 6.2%;
}

.Screen5--p.P1-S6::after {
    left: 6.3%;
}

.Screen5--p:last-child::after {
    background-color: #fff;
    width: 6px;
    left: 5.5%;
    height: 100%;
}

.Screen5--p.S5:last-child::after {
    left: 7.5%;
}

.Sreen5--h3 {
    font: normal normal 600 50px/70px 'Poppins', sans-serif;
    color: #10214F;
    padding: 18px 0 0 3%;
    letter-spacing: -1.3px;
    margin: 0;
}

.Screen5--button-group {
    max-width: 55.3%;
    margin: 19px 0 0 4.8%;
    justify-content: space-between;
}

.login.Screen5--button--text {
    font: normal normal 500 16px/25px 'Poppins', sans-serif;
}

.illustrate.Screen5-img {
    height: 654px;
    width: 600px;
}

.dots.Screen5--dots::after {
    left: auto;
    right: -8%;
    bottom: -45px;
}

.dots.Screen5--dots {
    left: -13.1%;
    top: 9px;
    width: 600px;
    height: 650px;
}

.Screen6 {
    display: flex;
    position: relative;
    margin: 436px auto 217px;
}


.dots.Screen6--dots {
    left: 3.1%;
}

.Screen6--w2.window1 {
    padding: 22px 0 0 1.35%;
    max-width: 46%;
    flex: 0 0 48%;
}

.dots.Screen5--dots.Screen6--dots::after {
    right: auto;
    left: -50px;
    bottom: auto;
    top: -120px;
}

.Screen5--description--content.S6c {
    max-width: 86%;
    padding: 52px 0 0;
}

.Screen5--button-group.S6bg {
    max-width: 63.2%;
    margin-top: 19px;
}

.Screen7 {
    padding: 161px 0 0;
    background: url("./Images/why-idn.png") center no-repeat;
    background-size: cover;
}

.Screen7.P2-S7-remade {
    position: relative;
    background-color: #10214F;
    background-image: none;
    padding: 92px 0 24px 9.2%;
    overflow: hidden;
}

.Screen7.P2-S7-remade::before {
    content: '';
    display: block;
    position: absolute;
    height: 1008px;
    width: 1008px;
    border-radius: 504px;
    background-size: contain;
    bottom: -60.7%;
    left: 37.6%;
    background-color: #06113e;
}

.Screen7--h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    letter-spacing: -1.4px;
    font: normal normal 600 60px/60px 'Poppins', sans-serif;
}

.Screen7--h2.P2-S7-remade {
    color: #fff;
    text-align: left;
    font: normal normal 600 40px/60px 'Poppins', sans-serif;
}

.Screen7--p {
    letter-spacing: -1.15px;
    color: #fff;
    text-align: center;
    font: normal normal 400 28px/63px 'Poppins', sans-serif;
    max-width: 1245px;
    margin: 84px auto 89px;
    position: relative;
    left: -0.15%;
}

.Screen7--p.P2-S7-remade {
    font: normal normal 600 24px/56px 'Poppins', sans-serif;
    text-align: left;
    max-width: initial;
    margin: 16px auto 89px;
    letter-spacing: 0;
}

.back-color.S7 {
    background-color: transparent;
    padding-bottom: 141px;
}

.back-color.S7.P1-S7::before, .back-color.S7.P1-S7::after {
    content: none;
}

.back-color.S7.P2-S7-remade {
    padding-bottom: 0;
    margin-top: 0;
}

.main-p.S7 {
    color: #fff;
}

.sectors.S7 {
    max-width: 1335px;
    position: relative;
    /*right: 1.7%;*/
    justify-content: center;
}

.sectors.S7.P2-S7-remade {
    max-width: 1363px;
    right: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;

}

.sector.S7 {
    margin: auto;
    padding: 108px 0 0;
    letter-spacing: .2px;
}

.sector.normal.center.S7 {
    font: normal normal 700 22px/27px 'Open Sans', sans-serif;
}

.info-graph {
    margin: 0;
    padding: 70px 0 50px;
    background-position: 0 8px;
    text-align: left;
}

.dot-list {
    margin: 20px 0 0 4.6%;
    padding: 0;
    max-width: 422px;
}

.dots-item {
    font: normal normal 600 20px/32px 'Poppins', sans-serif;
    color: #fff;
    list-style-type: none;
    position: relative;
}

.dots-item::before {
    content: '';
    position: absolute;
    display: block;
    left: -20px;
    top: 14px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #3874FF;
}

.sector.normal.one.S7 {
    background: url("./Images/connection.svg") 52.2% 26px no-repeat;
}

.sector.normal.main-p.S7.P2-S7-remade {
    background-position: 0 42%;
}

.sector.normal.two.S7 {
    background: url("./Images/opportunity.svg") 51.1% 33px no-repeat;
    position: relative;
    left: -0.65%;
}

.sector.normal.three.S7 {
    background: url("./Images/win.svg") 43.8% 30px no-repeat;
    position: relative;
    left: -2.2%;
}

.sector.normal.four.S7 {
    background: url("./Images/trust.svg") 36% 29px no-repeat;
}

.sector.normal.five.S7 {
    background: url("./Images/security.svg") 54.4% 25px no-repeat;
}

.sector.normal.five.P3-S7-remade.S7 {
    background: url("./Images/win.svg") 12.4% 37px no-repeat;
}

.Screen5--button-group.S7 {
    max-width: 870px;
    margin: auto;
    padding-bottom: 73px;
}

.window1--description--button.S7 {
    font: normal normal 500 36px/55px 'Poppins', sans-serif;
    color: #fff;
    padding: 9px 0 1px;
    text-align: center;
    letter-spacing: -1.5px;
    margin-top: -2px;
    margin-bottom: 16px;
}

.window1--description--button.S7.Advisor {
    padding-right: 2%;
}

.window1--description--button.S7.Advisor.P2-S7 {
    font: normal normal 500 33px/50px 'Poppins', sans-serif;
    text-indent: -9px;
}

.S7.S71.dot-list.Advisor {
    margin: 36px 0;
    min-width: 422px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 35%;
}

.ant-btn-lg.login.S7 {
    width: 277px;
    font: normal normal 500 20px/53px 'Poppins', sans-serif;
    letter-spacing: 0.2px;
    text-indent: 2px;
}

.window1--description.S7 {
    margin: 0;
}

.Screen8 {
    background-color: #29579F;
    padding: 0 0 120px 0;
}

.Screen7--h2.S8 {
    font: normal normal 700 40px/60px 'Poppins', sans-serif;
    padding: 118px 0 0 0;
    letter-spacing: -1.1px;
}

.ant-btn-lg.login.S8 {
    display: block;
    margin: 58px auto 0;
    max-width: 268px;
}

.Screen9 {
    padding: 65px 0;
    display: flex;
    justify-content: space-between;
}

.idn-img {
    width: 50px;
    height: 60px;
    display: block;
    background: url("./Images/idn.png") center no-repeat;
    background-size: contain;
    flex-grow: 1;
    margin-top: -15px;
    position: relative;
    left: -2.6%;
}

.foot-ul {
    padding: 0;
    margin: 0;
}

.foot-lists {
    display: flex;
    flex-grow: 5;
    justify-content: space-around;
    position: relative;
    right: 1.15%;
    max-width: 1631px;
}

.foot-li.foot-li-head {
    color: #1D293F;
    font: normal normal 700 20px/30px 'Poppins', sans-serif;
    padding: 0 0 27px 0;
    letter-spacing: -1.1px;
}

.foot-li {
    letter-spacing: -1.1px;
    list-style-type: none;
    font: normal normal 500 18px/27px 'Poppins', sans-serif;
    color: #1D293F;
}

.in {
    margin: 31px 0 0 1%;
    width: 49px;
    height: 49px;
    display: block;
    background: url("./Images/in.svg") center no-repeat;
    background-size: contain;
}

.opacity6 {
    opacity: 0.6;
}

.back-slider.buttonIDN::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #3680F6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}

.back-slider-two.back-slider.buttonIDN::before {
    left: 0;
}

.back-slider.buttonIDN.white::before {
    background-color: transparent;
}

.back-slider.buttonIDN.white::before {
    z-index: -1;
}

.back-slider.buttonIDN.white.decide::before {
    background-color: #fff;
}

.back-slider.buttonIDN::after {
    content: '';
    width: 220%;
    height: 307%;
    border-radius: 50%;
    background-color: #10214F;
    position: absolute;
    left: -204%;
    top: 10%;
    z-index: -1;
    transition: all .5s;
}

.back-slider.buttonIDN:hover::after {
    left: -15%;
    top: -60%;
}

.indent-bigger {
    text-indent: 0;
    transition: all .5s;
}

.indent-bigger:hover {
    text-indent: 15px;
}

.white {
    color: #232D53;
    transition: all .5s;
}

.buttonIDN.white:hover {
    color: #fff;
}

.buttonIDN.font-size-scale {
    font-size: 20px;
    transition: all .5s;
}

.buttonIDN.font-size-scale:hover {
    font-size: 15px;
}

.back-slider.back-slider-two.buttonIDN {
    background-color: transparent;
}

.back-slider-two.buttonIDN.white.border::before {
    border: solid 1px #3680F6;
    height: 96%;
    width: 96%;
    margin: auto;
}

.back-slider-two.buttonIDN.white.border {
    border: solid 1px transparent;
}

.back-slider-two.buttonIDN::before {
    left: 0;
    transition: all .5s;
}

.back-slider-two.buttonIDN:hover::before {
    background-color: transparent;
    left: -100%;
}

.back-slider.buttonIDN.why-idn.S2::after {
    color: #06113e;
}

.sizes-scale {
    transition: all .7s;
}

.sizes-scale:hover {
    transform: scale(0.9);
}

.buttonIDN.white.blue-back.back-slider {
    transition: all .7s;
}

.buttonIDN.white.blue-back.back-slider:hover {
    border-color: #3680F6;
}

.buttonIDN.white.blue-back.back-slider::after {
    background-color: #3680F6;
}

.buttonIDN.white.blue-back.back-slider:hover::after {
    background-color: #3680F6;
}

.login.buttonIDN.decide {
    border-color: transparent;
    height: 60px;
    line-height: 60px;
}

.back-slider-two.buttonIDN.white.border {
    border-width: 0;
    line-height: 60px;
}

.buttonIDN.white.blue-back.back-slider, .login.buttonIDN.P1-S5 {
    transition: left, font-size .7s;
    box-sizing: border-box;
}

.login.buttonIDN.P1-S5:hover {
    border-color: #10214f;
    height: 60px;
    line-height: 60px;
    border-width: 0;
}

.login.buttonIDN.P1-S5 {
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .main-header-second.S3 {
        padding: 0 3%;
    }

    .Screen9.P1-S9.X1023 {
        margin: 0 60px;
    }
}

@media (max-width: 1199px) {
    .Header,
    .Screen2.P1-S2,
    .Screen5.S5,
    .Screen6.S6,
    .Screen9.P1-S9 {
        max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
    }

    .Screen4,
    .Screen3.main,
    .Screen7.S7,
    .Screen8 {
        width: 100%;
    }

    .Header {
        padding: 6px 3.9% 76px 30px;
    }

    .logo-link {
        margin: 40px 0 0 0;
    }

    .idnlogo {
        height: 51px;
        width: 155px;
    }

    .main-top-nav {
        padding: 45px 0 30px 1%;
        flex-grow: 8;
    }

    .main-top-nav-anchor {
        margin: 9px 1.75% 4.8% 6%;
        font: normal normal 500 19px/22px 'Poppins', sans-serif;
        letter-spacing: -0.6px;
    }

    .login-block {
        justify-content: flex-end;
        margin-top: -20px;
    }

    .buttonIDN.login {
        width: 161px;
        height: 52px;
        line-height: 52px;
    }

    .Screen2.P1-S2 {
        width: 950px;
        margin: auto;
    }

    .window1-h {
        font: normal normal 600 49px/70px 'Poppins', sans-serif;
        letter-spacing: -1.9px;
    }

    .window1.Screen2.X12000 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .window1, .window2 {
        padding: 0 1%;
        flex: 0 0 40%;
        max-width: 40%;
    }

    .window1--button-group.P1-S2 {
        width: 88%;
        flex-direction: row;
        margin: 0 auto 0 0;
    }

    .window1-descript {
        font: normal normal 500 21px/41px 'Poppins', sans-serif;
        padding: 0 1% 0 0;
        margin-left: -0.1%;
        letter-spacing: -0.8px;
    }

    .dots.Screen5--dots, .dots {
        left: 8.2%;
        margin: 0 0 0 auto;
        width: auto;
        height: 401px;
    }

    .dots.P1-S2 {
        left: 0.2%;
        margin: 0;
        width: auto;
        height: auto;
    }

    .dots.Screen5--dots.S5 {
        margin: 0 0 0 auto;
        left: -49px;
        height: 401px;
        width: 368px;
    }

    .dots.Screen6--dots {
        left: 50px;
        top: 23px;
    }

    .illustrate.Screen5-img.S5 {
        width: 368px;
        height: 401px;
    }

    .dots.Screen5--dots::after {
        right: 8.5%;
        bottom: -41px;
    }

    .Screen5--strong {
        font: normal normal 700 22px/36px 'Poppins', sans-serif;
        padding: 0 0 0 18.8%;
    }

    .Screen5--p {
        font: normal normal 400 18px/24px 'Poppins', sans-serif;
        padding: 1px 40px 24px 18.7%;
    }

    .Screen5--p.S5::after {
        top: -7px;
        left: 9%;
    }

    .Screen5--strong::after {
        top: 1px;
        left: 5.7%;
    }

    .Screen5--strong.P1-S6::after {
        left: -4px;
    }

    .Screen5--p.P1-S6::after {
        left: 2.7%;
    }

    .window1--button-group.Screen5--button-group {
        flex-direction: row;
        width: 95.5%;
        justify-content: space-between;
        margin: 20px 0 0 27px;
        max-width: 100%;
    }

    .Screen6 {
        margin: 154px auto 217px;
    }

    .main-header-second {
        padding: 0 0 0 5%;
        width: 77%;
    }

    .illustrate, .illustrate.Screen2, .illustrate.Screen5-img, .first-col-img, .main-header-dots.dots {
        width: 361px;
        height: 304px;
        margin: 0 0 0 auto;
    }

    .illustrate.Screen6-img {
        height: 430px;
        width: 394px;
    }

    .dots::after, .back-color::before, .back-color::after, .Screen7.P2-S7-remade::after, .dots.P1-S2::after {
        width: 180px;
        height: 180px;
        bottom: -46px;
        left: -29px;
        background-image: url("./Images/dots.svg");
    }

    .back-color::after {
        left: 73px;
    }

    .back-color::before {
        left: auto;
        right: 73px;
    }


    .main-header-dots.dots::after {
        left: -34px;
        bottom: -138px;
    }

    .first-col-img {
        margin-left: 0;
        position: static;
    }

    .window1--button-group {
        width: 100%;
        flex-direction: column;
    }

    .main-header {
        padding: 64px 1% 48px 1%;
    }

    .main-header-first, .main-header-second {
        padding: 0 50px 0 56px;
    }

    .main-header-second {
        padding: 0 45px 0 108px;
    }

    .main-header-second-h2.head2 {
        margin: 6px 0 0;
        letter-spacing: -0.1px;
    }

    .main-post-link.frame4::before {
        bottom: 6px;
        width: 46%;
        left: 27%;
    }

    .normal.main-p.S4 {
        font: normal normal 400 30px/60px 'Poppins', sans-serif;
        margin: 46px auto 0;
        max-width: 95%;
        letter-spacing: -1px;
        text-indent: 0;
    }

    .Screen5.S5 {
        margin: 80px auto 0;
    }

    .main-header-second-h2.head2.Screen5--h2 {
        margin: 6px 0 0 16px;
    }

    .Screen5--h2.head2.center.P1-S6 {
        margin-top: 0;
    }

    .Sreen5--h3 {
        font: normal normal 600 40px/60px 'Poppins', sans-serif;
        padding: 14px 0 0 5.8%;
        letter-spacing: -0.9px;
    }

    .Screen5--description--content, .Screen5--description--content.S6c {
        max-width: 100%;
        padding: 76px 0 0 0;
    }

    .Screen5--description--content.S6c {
        padding: 50px 0 0 30px;
    }

    .main-p {
        font: italic normal 400 30px/47px 'Poppins', sans-serif;
        margin: 32px 0 0;
        text-indent: 1px;
    }

    .main-post-link {
        font: normal normal 700 30px/57px 'Poppins', sans-serif;
        margin: 41px 0 0;
        width: 104%;
    }

    .first-col-img {
        margin-left: -13px;
        width: auto;
        height: 400px;
    }

    .normal.main-p.P2 {
        margin: 93px auto 0;
        font: normal normal 400 26px/60px 'Poppins', sans-serif;
        max-width: 97%;
        letter-spacing: -0.9px;
    }

    .sectors.S4 {
        max-width: 72%;
        justify-content: space-between;
    }

    .Screen4--all.center {
        margin: 48px 0 0;
    }

    .sector.normal {
        font: normal normal 600 18px/62px 'Poppins', sans-serif;
    }

    .sector.normal.center.S7 {
        font: normal normal 700 18px/32px 'Open Sans', sans-serif;
        background-position-x: center;
        background-position-y: center;
        margin-top: 58px;
    }

    .sector.normal.center {
        left: auto;
        background-position-x: center;
        background-position-y: center;
        padding: 150px 0 0;
        margin: 0;
        max-width: 100%;
        right: auto;
        letter-spacing: -0.8px;
    }

    .main-post-link.frame4 {
        margin: 2px auto 0;
    }

    .Screen5--w1, .Screen5--w2 {
        padding: 0 1%;
        left: auto;
        flex: 0 0 46%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .Screen5--w1, .Screen5--w2 {
        flex: 0 0 45.2%;
    }

    .Screen5--decription {
        margin: 0;
    }

    .Screen5--decription.S51 {
        margin: 0 0 0 25px;
    }

    .window2.Screen6--w2.Screen5--w1.S6 {
        padding-top: 100px;
    }

    .window1.Screen6--w2.Screen5--w2.S6 {
        padding-top: 124px;
    }

    .Screen6--w2.window1 {
        padding: 24px 2% 0 0;
        max-width: 100%;
    }

    .window1--description {
        margin: 0;
    }

    .window1--description--button {
        letter-spacing: -1.5px;
        font: normal normal 500 25px/48px 'Poppins', sans-serif;
        margin: 29px auto 12px;
    }

    .buttonIDN.login {
        width: 188px;
    }

    .back-slider.buttonIDN.indent-bigger {
        line-height: 50px;
    }

    .chevron {
        margin: 35px auto 0;
    }

    .Screen5--button-group.S7 {
        display: flex;
        flex-direction: row;
        max-width: 57%;
        margin: auto;
    }

    .Screen5--button-group.S6bg {
        max-width: none;
    }

    .window1--description--button.S7 {
        font: normal normal 500 24px/35px 'Poppins', sans-serif;
        padding: 0 0 24px;
    }

    .window1--button-group.Screen5--button-group.S6bg {
        margin: 17px 0 0 25px;
    }

    .Screen7 {
        padding: 130px 0 64px;
    }

    .Screen7--h2 {
        font: normal normal 600 40px/60px 'Poppins', sans-serif;
    }

    .Screen7--p.S7 {
        font: normal normal 400 22px/40px 'Poppins', sans-serif;
        max-width: 100%;
        letter-spacing: -0.9px;
        margin: 87px auto 0;
        padding: 0 60px;
    }

    .S7 br {
        display: contents;
    }

    .Screen6.S6 {
        margin: 54px auto 60px;
    }

    .sectors.S7 {
        justify-content: space-around;
        max-width: 77%;
        right: auto;
    }

    .back-color.S7 {
        padding-bottom: 90px;
    }

    .back-slider.back-slider-two.buttonIDN {
        width: 222px;
        height: 60px;
    }

    .login.buttonIDN.P1-S5 {
        line-height: 52px;
    }

    .Screen9.P1-S9 {
        max-width: 97.2%;
        margin: 0 2.9%;
        padding-bottom: 30px;
    }

    .idn-img {
        width: 67px;
        height: 58px;
        left: -49px;
        top: -3px;
    }

    .foot-lists {
        display: flex;
        flex-grow: 5;
        justify-content: space-between;
        right: 6px;
        max-width: 796px;
        top: -5px;
    }
}

@media (max-width: 1600px) {
    .main-header-second-h2.head2.S3 {
        margin-top: -11px;
    }

    .main-header-second {
        padding: 0.7% 7.6% 0 12.5%;
        max-width: 410px;
    }

    .main-p.X1600 {
        max-width: 520px;
    }

}

@media (max-width: 1600px) and (min-width: 1199px) {
    .Header,
    .Screen2.P1-S2,
    .Screen5.S5,
    .Screen6.S6,
    .Screen9.P1-S9 {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    .Screen4,
    .Screen3.main,
    .Screen7.S7,
    .Screen8 {
        width: 100%;
    }

    .Header {
        padding: 39px 1% 0;
        margin: 0 auto 0 0;
    }

    .logo-link {
        width: 155px;
        height: 31px;
        margin: 7px 0 0 2px;
    }

    .idnlogo {
        width: 185px;
        height: 51px;
    }

    .main-top-nav {
        padding: 11px 0 0;
        position: relative;
        left: 5.1%;
    }

    .main-top-nav-anchor {
        margin: 9px 0.1% 4.8% 5.4%;
        font: normal normal 500 20px/27px 'Poppins', sans-serif;
        letter-spacing: -0.8px;
    }

    .login-block {
        justify-content: flex-end;
        padding-right: 1.5%;
        margin: -17px 0 0 0;
    }

    .buttonIDN.login {
        width: 161px;
        height: 52px;
    }

    .buttonIDN.white.S2:hover {
        border-color: transparent;
    }

    .login.buttonIDN.S2.big {
        width: 216px;
        height: 62px;
        line-height: 62px;
    }

    .window1-h {
        font: normal normal 600 60px/80px 'Poppins', sans-serif;
        letter-spacing: -1.7px;
        margin: 3px 0 0;
    }

    .Screen2.P1-S2 {
        width: 96%;
        margin: 104px auto 0;
    }

    .window1.Screen2.X1600 {
        flex: 0 0 48%;
        width: 48%;
        padding: 2px 0 0 0.75%;
    }

    .window1--description--button {
        font: normal normal 500 24px/35px 'Poppins', sans-serif;
        margin: 37px 0 16px;
    }

    .window2.X1600 {
        flex: 0 0 33%;
        width: 33%;
    }

    .dots {
        left: -8.3%;
        position: relative;
        z-index: 0
    }

    .window1-descript {
        margin: 24px 0 0 0.3%;
        font: normal normal 500 22px/40px 'Poppins', sans-serif;
        letter-spacing: -1.2px;
        padding: 0 1% 0 0;
    }

    .illustrate.Screen2 {
        width: 396px;
        height: 334px;
        border-radius: 25px;
    }

    .window1--button-group.P1-S2.X1600 {
        margin: 26px auto 0 0;
        width: 76%;
        min-width: 76%;
    }

    .chevron {
        margin-top: 28px;
    }

    .main-header {
        padding: 114px 0 295px 0;
        max-width: 90%;
        margin: auto;
    }

    .main-header-second {
        padding: 0.7% 7.6% 0 10%;
    }

    .main-post-link {
        font: normal normal 700 38px/57px 'Poppins', sans-serif;
        margin: 59px 0 0;
    }

    .main-post-link {
        font: normal normal 700 30px/49px 'Poppins', sans-serif;
        margin: 44px 0 0;
    }

    .main-header.S3 {
        padding: 115px 0 164px;
        max-width: 1050px;
    }

    .main-p {
        font: italic normal 400 30px/47px 'Poppins', sans-serif;
        margin: 35px 0 0;
    }

    .normal.main-p {
        margin: 45px auto 0;
        max-width: 78%;
        font: normal normal 400 30px/60px 'Poppins', sans-serif;
        letter-spacing: -0.9px;
    }

    .normal.main-p.P2 {
        margin: 135px auto 0;
        max-width: 78%;
        font: normal normal 400 26px/60px 'Poppins', sans-serif;
        letter-spacing: -0.9px;
    }

    .sectors.S4 {
        max-width: 800px;
    }

    .sector.normal.main-p.center {
        margin: 12px auto 0;
        max-width: 100%;
        font: normal normal 500 17px/20px 'Poppins', sans-serif;
        letter-spacing: -0.9px;
        background-position-x: center;
        background-position-y: center;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        text-indent: -25px;
        padding: 160px 0 0;
    }

    .selectors--all {
        margin-top: 69px;
    }

    .dots.Screen5--dots {
        height: 495px;
        width: auto;
        left: -13%;
    }

    .illustrate.Screen5-img {
        height: 495px;
        width: auto;
    }

    .Screen5--w1 {
        left: 0;
    }

    .Screen5--decription {
        padding: 0 0 0 11.1%;
        min-width: 100%;
    }

    .back-color::after {
        left: auto;
    }

    .back-color::before {
        left: 27px;
    }

    .main-header-second-h2.head2 {
        font: normal normal 600 24px/24px 'Poppins', sans-serif;
    }

    .Screen4 {
        overflow: hidden;
    }

    .Sreen5--h3 {
        font: normal normal 600 40px/60px 'Poppins', sans-serif;
        padding: 13px 0 0 3%;
        letter-spacing: -0.9px;
    }

    .Screen5--description--content {
        padding: 68px 0 0 0;
        max-width: 92%;
    }

    .Screen5--strong {
        font: normal normal 700 22px/36px 'Poppins', sans-serif;
        padding: 0 0 0 18%;
    }

    .Screen5--strong.S5 {
        width: 63%;
        padding: 0 0 0 14%;
    }

    .Screen5--p {
        font: normal normal 400 18px/24px 'Poppins', sans-serif;
        padding: 0 0 28px 18%;
    }

    .Screen5--p.S5 {
        width: 62%;
        padding: 0 0 28px 14%;
    }

    .main-header-dots.dots {
        left: 29.8%;
        position: relative;
        width: 473px;
        height: 451px;
    }

    .Screen5--button-group {
        margin: 33px 0 0 6.2%;
        width: 75%;
        max-width: 75%;
    }

    .window1--button-group.Screen5--button-group {
        margin: 10px 0 0 6.2%;
    }

    .Screen5--button-group.S6bg {
        margin: 16px 0 0 6.2%;
        width: 82%;
        max-width: 82%;
    }

    .Screen5--button-group.S6 {
        max-width: 100%;
        width: 74.5%;
        margin: 35px 0 0 6.8%;
        justify-content: space-between;
    }

    .login.buttonIDN.S2.big.Screen2 {
        width: 190px;
        height: 51px;
        line-height: 51px;
    }

    .first-col-img {
        width: 473px;
        height: 451px;
    }

    .Screen6 {
        margin: 290px 0 0;
    }

    .window2.S6 {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .dots.Screen5--dots.Screen6--dots {
        height: 495px;
        width: auto;
        left: 6%;
    }

    .illustrate.Screen6-img {
        height: 495px;
        width: auto;
    }

    .Screen5--description--content.S6c {
        max-width: 100%;
        padding: 78px 0 0;
    }

    .Screen5--strong.P1-S6 {
        padding: 0 0 0 17%;
    }

    .Screen5--p.P1-S6 {
        padding: 0 0 28px 17%;
    }

    .Screen5--p.S5:after,
    .Screen5--p.P1-S6::after {
        left: 8%;
    }

    .Screen5--p.P1-S6::after {
        left: 7%;
    }

    .Screen7 {
        margin: 169px 0 0;
        padding: 129px 0 0;
    }

    .Screen7--h2 {
        letter-spacing: -1.4px;
        font: normal normal 600 40px/60px 'Poppins', sans-serif;
    }

    .Screen7--p {
        letter-spacing: -0.95px;
        font: normal normal 400 22px/40px 'Poppins', sans-serif;
        max-width: 962px;
        margin: 87px auto 89px;
        left: 0;
    }

    .Screen7--p br {
        display: contents;
    }

    .sectors.S7 {
        max-width: 772px;
        right: 0;
    }

    .sector.normal.main-p.center.S7 {
        margin: -21px auto 32px;
        max-width: 100%;
        font: normal normal 500 19px/19px 'Poppins', sans-serif;
        letter-spacing: -0.9px;
        background-position: center center;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        text-indent: 0;
        padding: 146px 0 15px;
    }

    .back-color.S7 {
        padding-bottom: 34px;
    }

    .window1--description--button.S7 {
        font: normal normal 500 24px/35px 'Poppins', sans-serif;
        margin: 6px 0 36px;
    }

    .Screen5--button-group.S7 {
        margin: auto;
        max-width: 570px;
    }

    .Screen7--h2.S8 {
        font: normal normal 700 40px/60px 'Poppins', sans-serif;
        padding: 186px 0 0 0;
        letter-spacing: -1.1px;
    }

    .Screen9 {
        padding: 65px 0 30px 19px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1023px) {
    .window1--button-group.Screen5--button-group,
    .window1--button-group.Screen5--button-group.S6bg {
        flex-direction: column;
    }

    .window1--button-group.Screen5--button-group.S7 {
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
    }

    .window1--description {
        margin: 20px auto 0;
    }

    .Screen7.S7 {
        padding: 161px 0 0;
    }
}

@media (max-width: 1100px) {
    .main-header-second {
        padding: 0.7% 4%;
    }

    .normal.main-p.center.S4 {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 1600px) {
    .normal.main-p.center.S4 {
        max-width: 1000px;
    }
}

@media (min-width: 1601px) and (max-width: 1820px) {
    .window1-h.X12000 {
        min-width: 727px;
        font-size: 81px;
    }

    .Screen5--w1.S6 {
        left: 5%;
    }

    .main-header-second.S3 {
        padding: 0 1.8% 0 1.8%;
        margin: 0 auto auto;
        width: 520px;
    }

    .Screen5--description--content.S6c {
        overflow: hidden;
    }

    .main-p.X1600 br {
        display: contents;
    }

    .Screen5.S5 {
        width: 1200px;
        margin: 182px auto 0 auto;
    }

    .Screen5--description--content {
        max-width: 100%;
    }

    .dots.Screen5--dots {
        left: 6.9%;
    }

    .dots.Screen5--dots::after {
        right: -12%;
    }

    .Screen5--p.S5::after {
        left: 6.7%;
    }

    .Screen5--p.S5:last-child::after {
        left: 6.5%;
    }

    .window1.Screen5--w1 {
        left: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .Screen7 {
        padding-bottom: 67px;
    }

    .Screen7--h2.S8.X1200 {
        padding: 120px 0 0;
    }
}

@media (min-width: 1600px) {
    .Screen5--button-group.S2 {
        min-width: 596px;
    }

    .Screen5--button-group.X1600 {
        min-width: 231px;
    }

    .window1--button-group.Screen5--button-group {
        min-width: 526px;
    }

    .main-p.X1600 {
        min-width: 520px;
        width: 520px;
    }
}

@media (min-width: 1920px) {
    .Screen7--h2.why {
        padding: 157px 0 70px;
    }

    .Screen7.S7 {
        padding: 0;
    }

    .Screen7--p {
        margin-top: 11px;
    }
}

.chevron {
    margin: 10vh auto 5vh;
}

.Header {
    padding: 32px 3.9% 2vh 65px;
    margin-right: auto;
    margin-left: auto;
}
