.Screen8 {
    background-color: #29579F;
    padding: 0 0 123px 0;
}

.Screen7--h2.S8 {
    font: normal normal 700 40px/60px 'Poppins', sans-serif;
    padding: 118px 0 0 0;
    letter-spacing: -1.1px;
}

.ant-btn-lg.login.S8 {
    display: block;
    margin: 58px auto 0;
    max-width: 268px;
    width: 268px;
    height: 52px;
}
