.Screen6 {
    display: flex;
    position: relative;
    margin: 467px auto 0;
    justify-content: space-between;
}

.dots.Screen6--dots {
    left: -1%;
}

.Screen6--w2.window1 {
    padding: 2px 0 0 1.35%;
}

.dots.Screen5--dots.Screen6--dots::after {
    right: auto;
    left: -50px;
    bottom: auto;
    top: -120px;
}

.Screen5--description--content.S6c {
    max-width: 80%;

}

.Screen5--strong.S6st {
}

.Screen5--p.S6pa {
}
