.Screen9 {
    padding: 65px 0 0;
    display: flex;
    justify-content: space-between;
}

.idn-img {
    width: 60px;
    height: 67px;
    display: block;
    background: url("./cssimg/idn.svg") 54.2% 23px no-repeat;
}
